---
layout: page.njk
title: Categories
excerpt: Category index
permalink: /categories/
---

<ul>
{% for post in collections.post | reverse %}
  <li>
    <a href="{{ post.url }}">{{ post.data.title }}</a>
    {% if post.data.categories and post.data.categories.length %}
      <small>({{ post.data.categories | join(', ') }})</small>
    {% endif %}
  </li>
{% endfor %}
</ul>
